---
IndentWidth: 2
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 80
AlignAfterOpenBracket: AlwaysBreak
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AlignEscapedNewlines: Left
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
IndentCaseLabels: true
